# Ballerina specific
/target
/docker
*.class
*.jar
*.war
*.balx

# Ballerina lock file
Ballerina.lock

# Build files
/build

# Compiled files
*.balx
*.bir
*.jar

# Config files with sensitive data
Config.toml
/resource